<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block meta_title %}{% block page_title '' %} - {% block site_title %}{{ 'improvisions.site.title'|trans }}{% endblock %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <h1>{{ block('site_title') }}</h1>
        </header>
        <div id="main">
            <h1>{{ block('page_title') }}</h1>
            {% if app.session.flashbag.has('error') %}
                <div class="error_flashes">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <p>{{ flashMessage }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% if app.session.flashbag.has('notice') %}
                <div class="notice_flashes">
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <p>{{ flashMessage }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% block page_content '' %}
        </div>
        {{ include('menu.html.twig') }}
        {% block javascripts %}
            <script src="{{ asset('javascript/jquery-2.1.4.min.js') }}"></script>
            <script src="{{ asset('javascript/form_collection.plugin.js') }}"></script>
            <script>
                jQuery(document).ready(function() {
                    $('.prototyped').formCollection({
                        moreText: '{{ 'improvisions.form.more_text'|trans }}',
                        lessText: '{{ 'improvisions.form.less_text'|trans }}'
                    });
                });
            </script>
        {% endblock %}
    </body>
</html>
